<footer>
  <p><a href="/contact">Contact us</a></p>
  <p>
    &copy; 2024 - <%= new Date().getFullYear().toString() %> Manoti. All rights reserved.
  </p>
  <p>
    <span class="disclaimer">Disclaimer</span>: You should not rely on any information contained in this website - it is provided for informational purposes only.
Manoti does not guarantee
that the information provided will be error free, timely, accurate or complete. The use of any information on this website is at user's sole risk. Before making any
investment decision we recommend that you consider whether it is appropriate for your situation and seek appropriate financial, taxation and legal advice. Manoti
does not accept any liability for any loss or damage which may arise directly or indirectly from use of or reliance on this information.
  </p>
</footer>

<script src="/searchFunction.js"></script>