<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <meta name="description" content="Page not found.">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <title>Manoti: Page Not Found.</title>
</head>
<body>
  <%- include('partials/header') %>
  <div>
    <p>Page not found.</p>
    <p>return to <a href="/" target="_self">home page</a></p>
  </div>
  
  <%- include('partials/footerSimple') %>
</body>
</html>