<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <meta name="description" content="Servor error.">
  <link rel="stylesheet" href="/stylesheets/error/style.css">
  <title>Manoti: Server Error.</title>
</head>
<body>
  <%- include('partials/header') %>
  <div>
    <p>Server error.</p>
    <p>please <a href="<%= requestedLink %>" target="_self">try again</a></p>
  </div>
  
  <%- include('partials/footerSimple') %>
  <script src="js/contact/script.js"></script>
</body>
</html>