<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <meta name="description" content="Contact us.">
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <title>Manoti: Contact Us</title>
</head>
<body>
    <%- include('partials/header') %>

    <div>
      <div id="container">
        <p>Contact us.</p>
      <p>Email us at <a href="mailto:contact@manoti.co">contact@manoti.co</a> and we'll be in touch within 72hrs.</p>
      </div>
    </div>

    <%- include('partials/footerSimple') %>
</body>
</html>
