:root {
  --bg-color: #F2F1F0;
  --bg-color__slides: #f9f9f9de;
  --prim-color: #0F0F0F;
  --sec-color: #204134;
  --sec-color_60_perc: #20413499;
  --sec-color_70_perc: #204134a6;
  --sec-color_80_perc: #204134ce;
  --sec-color_98_perc:#204134fb;
  --sec-color_border: #204134e6;
  --ter-color: #F2F1F0;
  --alt-ter-color: #fdf9f588;
  --tooltip-bg-color: #f7f2f2f7;
  --white: #fafaf9;

  --border-radius__xx_small: 2px;
  --border-radius__x_small: 4px;
  --border-radius__small: 6px;
  --border-radius__medium: 10px;

  --font-family: "Lato", Helvetica;
  --font-size-xxxx_large: 5rem;
  --font-size-xxx_large: 3.5rem;
  --font-size-xx_large: 3rem;
  --font-size-x_large: 2.75rem;
  --font-size-large: 2.25rem;
  --font-size-medium_large: 1.75rem;
  --font-size-medium: 1.625rem;
  --font-size-normal_medium: 1.5rem;
  --font-size-normal: 1.375rem;
  --font-size-normal_small: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-x_small: 0.75rem;
  --font-size-xx_small: 0.625rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-style-italic_regular: italic;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
body > header {
  width: 100%;
  background-color: var(--sec-color);
  color: var(--ter-color);
  position: relative;
  padding-bottom: 0.25rem;
}

header  h1 {
  font-size: var(--font-size-large);
  text-align: center;
  padding: 1rem 0 0.6rem 0;
  font-family: var(--font-family);
}

header::after{
  content: '';
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: var(--ter-color);
  position: absolute;
  bottom: 5px;
}

div#header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

header  h1 > a {
  color: var(--ter-color);
  text-decoration: none;
}

header  h1 > a:hover {
  opacity: 0.8;
}

div#header-container svg {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  top: 30%;
  right: 3rem;
}

div#header-container svg:hover {
  transform: scale(0.9);
  stroke-width: 3.5;
  cursor: pointer;
  fill: none;
  stroke: currentColor;
}

div#header-container svg.lucide-x {
  stroke: var(--sec-color);
  z-index: 450;
  display: none;
}

div#search-box {
  display: none;
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 2rem;
  width: 25%;
  box-shadow: rgba(219, 219, 225, 0.15) 0px 2px 5px 0px, rgba(229, 224, 224, 0.05) 0px 1px 1px 0px;
  z-index: 101;
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--ter-color);
  outline: none;
  border-radius: 2.5px 2.5px 1px 1px;
  padding: 1rem;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

[placeholder^="Enter"] {
  font-size: 1rem;
  letter-spacing: -0.25px;
}

ul#search-results {
  width: 100%;
  background-color: var(--sec-color_98_perc);
  color: var(--ter-color);
  border-radius: 0 0 4px 4px;
}

ul#search-results > li {
  cursor: pointer;
  position: relative;
  line-height: 0.6cm;
  transition: all 150ms ease-in;
}

ul#search-results > li:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.075rem;
  background-color: var(--ter-color);
  left: 0;
  bottom: 0;
  padding: 0;
}

ul#search-results > li:first-child {
  border-top: solid var(--ter-color) 2px;
}

ul#search-results > li:last-child:hover {
  border-bottom: solid var(--sec-color) 0.5px;
}

ul#search-results > li > a, ul#search-results > li.no-match-text   {
  color: var(--ter-color);
  display: block;
  padding: 1rem 0.75rem;
  transition: all 125ms ease-in;
}

ul#search-results > li:hover a  {
  background-color: var(--ter-color);
  font-weight: var(--font-weight-bold);
  padding-left: 1.5rem;
  color: var(--sec-color_98_perc);
}

@media (max-width: 1150px) {
  div#search-box {
    width: 35%;
    margin-right: 1rem;
  }

  div#header-container svg {
    right: 1.2rem;
  }
}

@media (max-width: 850px) {
  div#search-box {
    width: 90%;
    left: 5.5%;
    margin: 0;
  }
}

@media (max-width: 700px) {

}

@media (max-width: 520px) {
  div#header-container svg {
    margin-right: 0;
    right: 1.25rem;
  }

  header::after{
    height: 0.1rem;
  }
}
/* body */
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--sec-color);
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto; 
  letter-spacing: -0.125px;
  word-spacing: 3px;
}

body > section > *, body > main {
  padding: 0 1rem;
}

header h1 > a {
  pointer-events: none;
}

body > header, body > footer {
  grid-column: span 2;
  z-index: 10000;
}

body > section {
  grid-column: 2/3;
}

body > header {
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

section > div:first-child {
  color: var(--sec-color);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
  font-size: 2rem;
}

div#date-currency-container {
  display: flex;
  justify-content: space-between;
  color: var(--sec-color_80_perc);
  font-size: var(--font-size-small);
  padding: 0.5rem 0;
}

div#date-currency-container > p#latest-date-update::before {
  content: '* ';
}

/* ASIDE */
aside {
  padding: 0 1rem 0 1rem;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2.5px;
  border-right: var(--sec-color_60_perc) 2.5px solid;
  font-size: var(--font-size-normal_small);
  grid-row: 2/4;
}

aside > div#aside-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
  row-gap: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  width: 100%;
  z-index: 50;
}

aside  > * {
  position: fixed;
  width: 18%;
}

aside > div#aside-container > h4 {
  text-transform: uppercase;
  padding-top: 1%;
  font-size: var(--font-size-normal_small);
}

aside > div#aside-container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.25rem;
}

div#aside-container > div > p:nth-child(1), div#aside-container > div#alsi > div.daily-change-overview > p {
  font-size: var(--font-size-normal_small);
}

div#aside-container > div > p:nth-child(1) {
  color: var(--sec-color_70_perc);
}

div#aside-container > div > p:nth-child(2) {
  font-size: var(--font-size-normal_medium);
}

#pie-chart {
  max-width: 100%;
  height: auto;
}

#pie-chart path {
  stroke-width: 0.01;
  stroke: var(--prim-color);
  transition: ease-in all 75ms;
}

#pie-chart  path:hover {
  cursor: pointer;
  opacity: 70%;
  transform: scale(1.025);
  stroke-width: 0.09;
  stroke: rgb(3, 26, 4);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#pie-chart-data {
  font-size: 0.09rem;
  fill: var(--sec-color);
}

#vfexMarketCap {
  display: none;
}

.treemap-label {
  font-size: 0.07rem;
  fill:rgba(32, 32, 68, 0.901);
  letter-spacing: 0.05px;
}

.label--hidden {
  display: none;
}

div#market-cap p.market-cap {
  margin-bottom: 0.3rem;
}

svg#heat-map rect {
  transition: ease-in all 75ms;
}
svg#heat-map rect:hover, svg#treemap rect:hover  {
  cursor: pointer;
  stroke: var(--alt-ter-color);
  stroke-width: 0.2;
  transform: scale(1.001);
  opacity: 70%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

svg#treemap rect {
  stroke: whitesmoke;
  stroke-width: 0.095px;
}

svg#treemap rect:hover {
  opacity: 50%;
}
 
div.tooltip__treemap p.pe-ratio, div.tooltip__treemap p.trade-volume-30-days {
  font-size: smaller;
  color: var(--sec-color_70_perc);
}

svg#timeline text {
  font-size: 0.175rem;
  fill: var(--sec-color);
}

aside > div#aside-container > div:last-child {
  margin-bottom: 3rem;
}

/* MAIN */
main li {
  margin-bottom: 2.5rem;
}

/* GRID CONTAINER */
article.carousel-grid-container {
  border-bottom: var(--sec-color_60_perc) solid 2.5px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px -1.75px 1px 0px;
  display: grid;
  grid-template-areas: 
    ". . ."
    "button-left sub-grid button-right"
    "indicator indicator indicator";
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 1.25rem 1fr auto;
    position: relative;
    height: 200px;
}

/*  GRID ITEMS */
/* buttons */
button.carousel__button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

button.carousel__button > svg {
  stroke: var(--sec-color);
}

button.carousel__button--left {
  grid-area: button-left;
  position: relative;
}

button.carousel__button--right {
  grid-area: button-right;
  position: relative;
  right: 50%;
}

/* sub-grid */
div.carousel__track-grid-container {
  grid-area: sub-grid;
  position: relative;
  align-content: center;
}

div.carousel__track-grid-container a {
  color: var(--sec-color);
  transition: all 150ms ease;
  text-decoration: underline solid;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none; 
  word-spacing: 0px;
}

div.carousel__track-grid-container a:hover, div.carousel__track-grid-container a:active {
  opacity: 0.6;
}

/* nav indicator icons */
div.carousel__nav {
  grid-area: indicator;
  justify-self: center;
  padding-bottom: 0.5rem;
}

button.carousel__indicator {
  border: 1px;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(124, 150, 179, 0.443);
  cursor: pointer;
  margin-right: 0.45rem;
}

button.carousel__indicator.current-slide {
  background-color: var(--sec-color);
  border: 0px;
}

/* SUB-GRID--1 */
div.carousel__sub-grid--1 {
  display: flex;
  flex-wrap: nowrap;
}

div.carousel__sub-grid--1 > :not(div:last-child) {
  width: 30%;
  row-gap: 0.375rem;
}

div.carousel__sub-grid--1 > div:first-child, div.carousel__sub-grid--1 > div:nth-child(2), div.carousel__sub-grid--1 > div:nth-child(3) {
  display: grid;
  grid-template-rows: 1.75ch auto 1.75ch;
  grid-auto-flow: column;
  align-content: center; 
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

div.carousel__sub-grid--1 > div:nth-child(2) {
  justify-items: center;
}

div.carousel__sub-grid--1 > div:first-child > p:nth-child(1), div.carousel__sub-grid--1 > div:nth-child(2) > p:nth-child(2), div.carousel__sub-grid--1 > div:nth-child(3) > p:nth-child(2) {
  grid-row: 2 / 3;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
}

div.carousel__sub-grid--1 > div:nth-child(3) {
  justify-content: center;
}

div.daily-change-overview {
  display: flex;
}

div.chart {
  position: relative;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

svg {
  stroke-linecap: round;
}

.yAxis > path,
.yAxis > .tick > line,
.xAxis > .tick > line {
  display: none;
}

.xAxis > path {
  stroke-linecap: round;
}

.tick {
  font-size: var(--font-size-xx_small);
}

.tick text {
  fill: var(--sec-color);
  vertical-align: baseline;
  font-family: var(--font-family);
}

text.chart-sub-title {
  stroke: var(--prim-color);
  stroke-width: 0.015;
  font-size: 0.5rem;
  opacity: 60%;
}

.tooltip, .tooltip__pie-chart, .tooltip__heat-map, .tooltip__treemap {
  border: 1px solid var(--sec-color);
  position: absolute;
  padding: 2px 5px;
  background-color: var(--tooltip-bg-color);
  display: none;
  border-radius: 2.5px;
  pointer-events: none;
  text-align: left;
  width: 145px;
  z-index: 500;
  word-spacing: 1.75px;
}

.tooltip__pie-chart, .tooltip__heat-map, .tooltip__treemap {
  width: max-content;
  padding-right: 2rem;
}

.price {
  font-size: var(--font-size-normal_small);
}
.price, .equity, .name {
  font-weight: var(--font-weight-bold);
}

.date, p.date+p, .value {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

div.tooltip__heat-map p.heatmap-price {
  font-size: small;
}

.tooltip-line {
  stroke-opacity: 0.5;
} 

.grid path {
  display: none;
}

.grid .tick line {
  stroke: #333333;
  stroke-width: 0.3px;
  stroke-opacity: 0.3;
}

/* SUB-GRID--2 & 3 */
div.carousel__sub-grid--2, div.carousel__sub-grid--3 {
  display: grid;
  grid-template-areas: 
    "title title title title title title"
    "a b c d e f";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  height: 100%;
}

h6.sub-grid__title {
  grid-area: title;
  font-size: var(--font-size-normal_small);
  font-weight: var(--font-weight-bold);
  word-spacing: 2px;
  text-transform: uppercase;
}

div.sub-grid__metrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-x_small);
  font-weight: var(--font-weight-light);
}

div.sub-grid__metrics > p:nth-child(2) {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}

/*  CLASSES */
.is-hidden, div.is-hidden {
  display: none;
}

.tooltip-listening-rectangle {
  touch-action: none;
  cursor: pointer;
}

svg.lucide-triangle {
  margin: 0 4px;
  width: 12px;
  height: 12px;
  padding: 0;
  position: relative;
  top: 1px;
}

.lucide-up {
  fill: green;
}

.lucide-down {
  fill: crimson;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.up {
  color: green;
}

.down {
  color: crimson;
}

.no-change {
  color: var(--prim-color);
}

li {
  list-style-type: none;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  :root {
    --font-size-xx_large: 2.75rem;
    --font-size-x_large: 2.5rem;
    --font-size-large: 2rem;
    --font-size-medium_large: 1.625rem;
    --font-size-medium: 1.5rem;
    --font-size-normal_medium: 1.375rem;
    --font-size-normal: 1.25rem;
    --font-size-normal_small: 1rem;
    --font-size-small: 0.75rem;
    --font-size-x_small: 0.625rem;
    --font-size-xx_small: 0.5rem;
  }

  article.carousel-grid-container {
    height: 150px;
}

  button.carousel__indicator {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.4rem;
  }

  div.carousel__sub-grid--1 > div:first-child {
    font-size: var(--font-size-small);
  }

  .price {
    font-weight: var(--font-weight-bold);
  }

  svg.lucide-triangle {
    margin: 0 3.5px;
    width: 12px;
    height: 12px;
    padding: 0;
    position: relative;
    top: 1px;
  }
}

@media (max-width: 1150px) {
  div.carousel__sub-grid--1 > div:nth-child(2) {
    display: none;    
  }
  
  aside > div#aside-container > h4 {
    font-size: var(--font-size-normal_small);
  }
}

@media (max-width: 920px) {
  section > div:first-child {
    font-size: 1.75rem;
  }

  div.carousel__sub-grid--1 > div:first-child > p:nth-child(1) {
    font-size: var(--font-size-normal_small);
  }

  svg  {
    padding-top: 0.5rem;
  }

  svg.lucide-triangle {
    margin: 0 2px;
    width: 10px;
    height: 10px;
    padding: 0;
    position: relative;
    top: 1px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-xx_large: 2.5rem;
    --font-size-x_large: 2.125rem;
    --font-size-large: 1.85rem;
    --font-size-medium_large: 1.5rem;
    --font-size-medium: 1.375rem;
    --font-size-normal_medium: 1.25rem;
    --font-size-normal: 1.125rem;
    --font-size-normal_small: 0.875rem;
    --font-size-small: 0.625rem;
    --font-size-x_small: 0.5rem;
    --font-size-xx_small: 0.375rem;
  }

  section > div:first-child {
    margin: 0.5rem 0;
    font-size: var(--font-size-medium_large);
  }

  div#date-currency-container {
    margin: 0;
  }

  main li {
    margin-bottom: 1.25rem;
  }

  article.carousel-grid-container {
    border-width: 1.75px;
    height: 140px;
  }

  button.carousel__indicator {
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.35rem;
  }

  div.carousel__sub-grid--1 > div:first-child > p:nth-child(1) {
    font-size: var(--font-size-normal);
  }

  div.carousel__sub-grid--1 > :not(div:last-child) {
    width: 40%;
    row-gap: 0.175rem;
  }

  h6.sub-grid__title {
    grid-area: title;
    font-size: var(--font-size-small);
    word-spacing: 2px;
  }
  
  div.sub-grid__metrics {
    font-size: var(--font-size-small);
  }

  div.sub-grid__metrics > p:nth-child(1) {
    font-size: var(--font-size-x_small);
  }

  div.sub-grid__metrics > p:nth-child(2) {
    font-size: var(--font-size-small);
  }

  .tooltip {
    font-size: var(--font-size-small);
    width: 98px;
  }

  svg.lucide-triangle {
    margin: 0 3px;
    width: 10px;
    height: 10px;
    padding: 0;
    position: relative;
    top: 0;
  }
}

@media (max-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto; 
  }

  body > header, body > section, body > footer {
    grid-column: span 1;
  }

  section > div:first-child {
    grid-row-start: 2;
  }

  aside {
    padding: 0.25rem 1rem 0.75rem 1rem;
    border-top: var(--sec-color_80_perc) 1px solid;
    border-bottom: var(--sec-color_80_perc) 1px solid;
    border-radius: 0;
    border-right: none;
    box-shadow: none;
    background-color: var(--alt-ter-color);
    grid-row: 3/4;
    flex-direction: row;
  }

  aside > * {
    position: static;
  }

  aside > div#aside-container {
    justify-content: space-evenly;
    row-gap: 0;
    width: 100%;
    margin-top: 0;
  }
  
  aside > div#aside-container > div {
    width: 33%;
    row-gap: 0;
  }

  aside > div#aside-container > div#alsi {
    align-items: center;
  }

  aside > div#aside-container > h4 {
    width: 100%;
    margin: 0.25rem 0 0.5rem 0;
    font-size: 0.85rem;
  }

  aside > div#aside-container > div {
    text-align: center;
  }

  aside > div#aside-container > div > p:nth-child(1) {
    font-size: var(--font-size-small);
  }

  aside > div#aside-container > div > p:nth-child(2) {
    font-size: var(--font-size-normal);
  }

  aside > div#aside-container div.chart {
    display: none;
  }

  #vfexMarketCap {
    display: block;
  }

  aside > div#aside-container > div#median-pe-ratio, aside > div#aside-container > div#eod-change, aside > div#aside-container > div#listing-timeline, aside > div#aside-container > svg#pie-chart, div#aside-container > div#no-of-equities {
    display: none;
  }

  button.carousel__button--left {
    left: -25%;
  }
  
  button.carousel__button--right {
    right: 10%;
  }
  

  div.carousel__sub-grid--1 > div:first-child {
    font-size: 0.8rem;
  }

  div.daily-change-overview p {
    font-size: 0.8rem;
  }

  div.carousel__sub-grid--2, div.carousel__sub-grid--3 {
    grid-template-areas: 
      "title title title"
      "a b c"
      " d e f";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    height: 80%;
  }

  div.sub-grid__metrics > p:nth-child(3) {
    display: none
  }

  svg  {
    padding-top: 0rem;
  }

  svg.lucide-triangle {
    margin: 0 2px;
    width: 11px;
    height: 11px;
    padding: 0;
    position: relative;
    top: 2px;
  }
}

@media (max-width: 570px) {
  section > div:first-child {
    font-size: var(--font-size-normal);
  }

  div.carousel__sub-grid--1 > div:first-child {
    font-size: var(--font-size-small);
  }

  svg  {
    padding-top: 1rem;
  }

  svg.lucide-triangle {
    margin: 0 2px;
    width: 10px;
    height: 10px;
    padding: 0;
    position: relative;
    top: 2px;
  }
}

@media (max-width: 520px) {
  article.carousel-grid-container {
    height: 150px;
  }
}

@media (max-width: 479px) {
  :root {
    --font-size-xx_large: 2rem;
    --font-size-x_large: 1.75rem;
    --font-size-large: 1.5rem;
    --font-size-medium_large: 1.375rem;
    --font-size-medium: 1.25rem;
    --font-size-normal_medium: 1.125rem;
    --font-size-normal: 1rem;
    --font-size-normal_small: 0.75rem;
    --font-size-smallish: 0.6rem
    --font-size-small: 0.5rem;
    --font-size-x_small: 0.375rem;
    --font-size-xx_small: 0.125rem;
  }

  section > div > p#hero-text {
    font-size: var(--font-size-normal_medium);
    line-height: 0.6cm;
    word-spacing: 0.9px;
    letter-spacing: -0.5px;
  }  

  div#date-currency-container {
    flex-direction: row;
  }

  article.carousel-grid-container {
    border-width: 1.5px;
    height: 180px;
    grid-template-rows: 0.5rem 1fr auto;
  }

  button.carousel__button > svg {
    stroke-width: 1.3;
  }

  button.carousel__indicator {
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 0.3rem;
  }

  div.carousel__sub-grid--1 > :not(div:last-child) {
    width: 50%;
  }

  div.carousel__sub-grid--1 {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 0.85rem;
    justify-content: space-between;
  }

  div.carousel__sub-grid--1 > div:first-child {
    flex-basis: auto;
    font-size: 0.7rem;
  }

  div.carousel__sub-grid--1 > div:first-child > p:nth-child(1) {
    align-self: flex-start;
    display: inline-block;
    position: relative;
  }  

  div.carousel__sub-grid--1 > div:nth-child(3) {
    justify-content: end;
    justify-items: end;
    flex-basis: auto;
  }

  div.carousel__sub-grid--1 > div:nth-child(3) > p:nth-child(2) {
    align-self: flex-end;
    display: inline-block;
    position: relative;
  }

  div.carousel__sub-grid--1 > div:nth-child(3) > div.daily-change-overview {
    width: auto;
    align-items: baseline;
  }

  svg.lucide-triangle {
    margin: 0 2px;
    width: 8px;
    height: 8px;
    top: 0;
  }

  div.carousel__sub-grid--2, div.carousel__sub-grid--3 {
    align-items: center;
  }

  div.carousel__sub-grid--3 > div {
    align-self: end;
  }

  h6.sub-grid__title {
    grid-area: title;
    font-size: var(--font-size-small);
    word-spacing: 1px;
  }

  div.sub-grid__metrics {
    font-size: var(--font-size-normal);
  }

  div.sub-grid__metrics > p:nth-child(1), div.sub-grid__metrics > p:nth-child(3) {
    font-size: var(--font-size-small);
  }

  div.sub-grid__metrics > p:nth-child(3) {
    display: inline;
  }

  div.sub-grid__metrics > p:nth-child(2) {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
  }

  svg  {
    padding-top: 0rem;
  }
  
  .tick {
    font-size: var(--font-size-normal_small);
  }
}
/* footer */
footer {
  background-color: var(--sec-color);
  padding: 1.5rem 1.75rem;
  color: var(--ter-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal_small);
  row-gap: 0.25rem;
}

footer > p > a {
  color: var(--ter-color);
  font-size: var(--font-size-normal_medium);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: all 300ms ease;
  position: relative;
}

footer > p > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.15rem;
  border-radius: 10px;
  bottom: -0.5px;
  left: 0;
  background-color: var(--ter-color);
}

footer > p > a:hover, footer > p > a:active {
  color: var(--sec-color);
  background-color: var(--ter-color);
  padding-left: 0.25rem;
  display: block;
  position: static;
  border-radius: 5px;
}

footer > p:nth-child(2) {
  word-spacing: 3px;
  font-weight: var(--font-weight-bold);
  margin-top: 0.2rem;
}

footer > p:nth-child(3) {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-x_small);
  letter-spacing: 0.5px;
  word-spacing: 1.0px;
}

footer > p > span.disclaimer {
  font-weight: var(--font-weight-bold);
}

@media (max-width: 700px) {
  footer {
    padding: 1rem 1.5rem;
  }

  footer > p:nth-child(3) {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 479px) {
  footer {
    row-gap: 0.15rem;
  }

  footer > p > a::after {
    height: 0.1rem;
  }

  footer > p:nth-child(2) {
    font-size: var(--font-size-normal_small);
    letter-spacing: -0.125px;
    word-spacing: 0.75px;
    margin-top: 0.15rem;
  }

  footer > p:nth-child(3) {
    letter-spacing: -0.125px;
    word-spacing: 0.275px;
  }
}