:root {
  --bg-color: #F2F1F0;
  --bg-color__slides: #f9f9f9de;
  --prim-color: #0F0F0F;
  --sec-color: #204134;
  --sec-color_60_perc: #20413499;
  --sec-color_70_perc: #204134a6;
  --sec-color_80_perc: #204134ce;
  --sec-color_90_perc:#214034e6;
  --sec-color_98_perc:#204134fb;
  --sec-color_border: #204134e6;
  --ter-color: #F2F1F0;
  --alt-ter-color: #fdf9f588;
  --tooltip-bg-color: #f7f2f2f7;
  --white: #fafaf9;

  --border-radius__xx_small: 2px;
  --border-radius__x_small: 4px;
  --border-radius__small: 6px;
  --border-radius__medium: 10px;

  --font-family: "Lato", Helvetica;
  --font-size-xxxx_large: 5rem;
  --font-size-xxx_large: 3.5rem;
  --font-size-xx_large: 3rem;
  --font-size-x_large: 2.75rem;
  --font-size-large: 2.25rem;
  --font-size-medium_large: 1.75rem;
  --font-size-medium: 1.625rem;
  --font-size-normal_medium: 1.5rem;
  --font-size-normal: 1.375rem;
  --font-size-normal_small: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-x_small: 0.75rem;
  --font-size-xx_small: 0.625rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-style-italic_regular: italic;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
body > header {
  width: 100%;
  background-color: var(--sec-color);
  color: var(--ter-color);
  position: relative;
  padding-bottom: 0.25rem;
}

header  h1 {
  font-size: var(--font-size-large);
  text-align: center;
  padding: 1rem 0 0.6rem 0;
  font-family: var(--font-family);
}

header::after{
  content: '';
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: var(--ter-color);
  position: absolute;
  bottom: 5px;
}

div#header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

header  h1 > a {
  color: var(--ter-color);
  text-decoration: none;
}

header  h1 > a:hover {
  opacity: 0.8;
}

div#header-container svg {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  top: 30%;
  right: 3rem;
}

div#header-container svg:hover {
  transform: scale(0.9);
  stroke-width: 3.5;
  cursor: pointer;
  fill: none;
  stroke: currentColor;
}

div#header-container svg.lucide-x {
  stroke: var(--sec-color);
  z-index: 450;
  display: none;
}

div#search-box {
  display: none;
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 2rem;
  width: 25%;
  box-shadow: rgba(219, 219, 225, 0.15) 0px 2px 5px 0px, rgba(229, 224, 224, 0.05) 0px 1px 1px 0px;
  z-index: 101;
}

input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--ter-color);
  outline: none;
  border-radius: 2.5px 2.5px 1px 1px;
  padding: 1rem;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

[placeholder^="Enter"] {
  font-size: 1rem;
  letter-spacing: -0.25px;
}

ul#search-results {
  width: 100%;
  background-color: var(--sec-color_98_perc);
  color: var(--ter-color);
  border-radius: 0 0 4px 4px;
}

ul#search-results > li {
  cursor: pointer;
  position: relative;
  line-height: 0.6cm;
  transition: all 150ms ease-in;
}

ul#search-results > li:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.075rem;
  background-color: var(--ter-color);
  left: 0;
  bottom: 0;
  padding: 0;
}

ul#search-results > li:first-child {
  border-top: solid var(--ter-color) 2px;
}

ul#search-results > li:last-child:hover {
  border-bottom: solid var(--sec-color) 0.5px;
}

ul#search-results > li > a, ul#search-results > li.no-match-text   {
  color: var(--ter-color);
  display: block;
  padding: 1rem 0.75rem;
  transition: all 125ms ease-in;
}

ul#search-results > li:hover a  {
  background-color: var(--ter-color);
  font-weight: var(--font-weight-bold);
  padding-left: 1.5rem;
  color: var(--sec-color_98_perc);
}

@media (max-width: 1150px) {
  div#search-box {
    width: 35%;
    margin-right: 1rem;
  }

  div#header-container svg {
    right: 1.2rem;
  }
}

@media (max-width: 850px) {
  div#search-box {
    width: 90%;
    left: 5.5%;
    margin: 0;
  }
}

@media (max-width: 700px) {

}

@media (max-width: 520px) {
  div#header-container svg {
    margin-right: 0;
    right: 1.25rem;
  }

  header::after{
    height: 0.1rem;
  }
}
/* body */
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--sec-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body > div  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 60vh;
}

div#container {
  display: flex;
  flex-direction: column;
}

body > div > div > p {
  width: fit-content;
}

body > div > div > p:first-child {
  font-size: var(--font-size-xxxx_large);
  font-weight: var(--font-weight-bold);
}

body > div > div > p:last-child {
  font-size: var(--font-size-medium);
  position: relative;
  left: 8px;
}

div#container a {
  color: var(--sec-color);
  transition: all 100ms ease-in;
}

div#container :visited {
  text-decoration: solid var(--sec-color) 4px;
} 

div#container a:hover {
  opacity: 0.6;
  text-decoration: none;
}

body > footer {
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: var(--font-weight-bold);
}

@media (max-width:600px) {
  body > div > div > p:first-child {
    font-size: var(--font-size-xxx_large);
  }
}

@media (max-width: 397px) {
  body > div > div {
    align-items: start;
  }

  body > div > div > p:first-child {
    font-size: 2.5rem;
  }

  body > div > div > p:last-child {
    left: 4px;
  }
}

@media (max-width: 1200px) {
  :root {
    --font-size-xx_large: 2.75rem;
    --font-size-x_large: 2.5rem;
    --font-size-large: 2rem;
    --font-size-medium_large: 1.625rem;
    --font-size-medium: 1.5rem;
    --font-size-normal_medium: 1.375rem;
    --font-size-normal: 1.25rem;
    --font-size-normal_small: 1rem;
    --font-size-small: 0.75rem;
    --font-size-x_small: 0.625rem;
    --font-size-xx_small: 0.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-xx_large: 2.5rem;
    --font-size-x_large: 2.125rem;
    --font-size-large: 1.85rem;
    --font-size-medium_large: 1.5rem;
    --font-size-medium: 1.375rem;
    --font-size-normal_medium: 1.25rem;
    --font-size-normal: 1.125rem;
    --font-size-normal_small: 0.875rem;
    --font-size-small: 0.625rem;
    --font-size-x_small: 0.5rem;
    --font-size-xx_small: 0.375rem;
  }
}

@media (max-width: 479px) {
  :root {
    --font-size-xx_large: 2rem;
    --font-size-x_large: 1.75rem;
    --font-size-large: 1.5rem;
    --font-size-medium_large: 1.375rem;
    --font-size-medium: 1.25rem;
    --font-size-normal_medium: 1.125rem;
    --font-size-normal: 1rem;
    --font-size-normal_small: 0.75rem;
    --font-size-small: 0.5rem;
    --font-size-x_small: 0.375rem;
    --font-size-xx_small: 0.125rem;
  }
}
/* footer */
footer {
  background-color: var(--sec-color);
  padding: 1.5rem 1.75rem;
  color: var(--ter-color);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-normal_small);
  row-gap: 0.25rem;
}

footer > p > a {
  color: var(--ter-color);
  font-size: var(--font-size-normal_medium);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: all 300ms ease;
  position: relative;
}

footer > p > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.15rem;
  border-radius: 10px;
  bottom: -0.5px;
  left: 0;
  background-color: var(--ter-color);
}

footer > p > a:hover, footer > p > a:active {
  color: var(--sec-color);
  background-color: var(--ter-color);
  padding-left: 0.25rem;
  display: block;
  position: static;
  border-radius: 5px;
}

footer > p:nth-child(2) {
  word-spacing: 3px;
  font-weight: var(--font-weight-bold);
  margin-top: 0.2rem;
}

footer > p:nth-child(3) {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-x_small);
  letter-spacing: 0.5px;
  word-spacing: 1.0px;
}

footer > p > span.disclaimer {
  font-weight: var(--font-weight-bold);
}

@media (max-width: 700px) {
  footer {
    padding: 1rem 1.5rem;
  }

  footer > p:nth-child(3) {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 479px) {
  footer {
    row-gap: 0.15rem;
  }

  footer > p > a::after {
    height: 0.1rem;
  }

  footer > p:nth-child(2) {
    font-size: var(--font-size-normal_small);
    letter-spacing: -0.125px;
    word-spacing: 0.75px;
    margin-top: 0.15rem;
  }

  footer > p:nth-child(3) {
    letter-spacing: -0.125px;
    word-spacing: 0.275px;
  }
}
