body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--sec-color);
}

body > main {
  padding: 0 4rem;
  margin-top: 3rem;
}

div#container {
  display: flex;
  flex-direction: column;
}

div#container > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

img {
  width: 175px;
  height: 175px;
  object-fit: contain;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 0.5rem;
}

div#company-name {
  column-gap: 6rem;
}

div#company-name div#name-ticker-price > p:nth-child(-n+2) {
  margin-bottom: 0.175rem;
}

div#company-name p.price-change {
  margin-bottom: 0.75rem;
}

div#company-name div#name-ticker-price p.name {
text-transform: capitalize;
font-size: var(--font-size-medium_large);
font-weight: var(--font-weight-bold);
letter-spacing: -0.125px;
word-spacing: 5px;
position: relative;
left: -2px;
}

div#company-name div#name-ticker-price p.ticker {
  text-transform: uppercase;
  font-size: var(--font-size-normal_medium);
  letter-spacing: -0.125px;
  word-spacing: 3px;
  margin-bottom: 0.5rem;
}

div#company-name p.sector__heading-text {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--sec-color_70_perc);
  letter-spacing: -0.125px;
  margin-bottom: 2px;
}

div#company-name div.sectors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

div#company-name div.sectors-container p {
  text-transform: uppercase;
  border: 2px var(--sec-color_80_perc) solid;
  margin-top: 2.5px;
  padding: 0.125rem 0.4rem;
  border-radius: 8px;
}

div#company-name p.closing-price {
  font-size: var(--font-size-normal_medium);
}

div#company-name p.price-change {
  font-size: var(--font-size-normal_small);
}

div#company-name p.positive_price-change, td.positive_percentage-change {
  color: green;
}

div#company-name p.negative_price-change, td.negative_percentage-change {
  color: crimson;
}

div#company-name p.negative_price-change svg, td.negative_percentage-change svg {
  transform: rotate(180deg);
}

td.no_percentage-change {
  color: gray;
}

div#company-name svg {
  position: relative;
  top: 2.5px;
}

div#company-details {
  row-gap: 1rem;
  letter-spacing: -0.15px;
  word-spacing: 2.125px;
  display: flex;
  flex-wrap: wrap;
}

p#overview-heading, p#income-statement-heading {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  margin-bottom: 0.35em;
  width: 100%;
  background-color: rgba(131, 125, 125, 0.525);
  color: var(--bg-color);
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
}

div#company-details > div {
  flex-basis: 33%;
}
div#company-details div#company-description, div#company-details div#address {
  flex-basis: 100%;
}
div#company-details div#daily-returns-chart, div#company-details div#trade-volume-chart {
  flex-basis: 50%;
}
div#company-details div#company-description p:nth-child(2)::first-letter {
  text-transform: uppercase;
}

div#company-details > div > p:nth-child(1) {
  text-transform: uppercase;
  font-size: var(--font-size-normal_small);
  font-weight: var(--font-weight-bold);
  color: var(--sec-color_70_perc);
  word-spacing: 0.5px;
}

div#company-details > div > p:nth-child(2) {
  font-size: var(--font-size-normal);
  position: relative;
  left: 1.5px;
}

div#company-details div#company-auditors p:nth-child(2) {
  padding-right: 0.5rem;
}

div#company-details div#company-website a {
  color: var(--sec-color);
  font-size: var(--font-size-normal);
}

/* BOX PLOT */
#box-plot .tick {
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

g.xAxis g.tick text {
  font-size: 1.125rem;
}

/* BAR CHART */
g.bar-chart__yAxis .tick , g.bar-chart__xAxis .tick, #box-plot .tick {
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

div#trade-volume-chart rect {
  transition: 150ms all ease-in-out;
}

div#trade-volume-chart rect:hover {
  opacity: 0.45;
  cursor: pointer;
}

.tooltip {
  border: 1px solid var(--sec-color);
  position: absolute;
  padding: 2px 5px;
  background-color: var(--tooltip-bg-color);
  display: none;
  border-radius: 2.5px;
  pointer-events: none;
  text-align: left;
  width: 150px;
  z-index: 500;
  word-spacing: 1.75px;
  font-size: var(--font-size-normal_small);
  overflow-x: hidden;
}

.tooltip .volume {
  font-weight: var(--font-weight-bold);
}


/* TABLE */
table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: var(--font-size-normal);
  line-height: 2.275ch;
}

tbody tr th.table-heading {
  text-align: start;
  color: var(--sec-color_80_perc);
}

table caption {
  display: table-caption;
  font-size: var(--font-size-normal_small);
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.125px;
  word-spacing: 1.5px;
  text-transform: none;
  color: var(--sec-color_80_perc);
  text-align: start;
}

tr.currency {
  border-bottom: 3px solid var(--sec-color_90_perc);
  color: var(--sec-color_70_perc);
  font-size: smaller;
  vertical-align: bottom;
}
tr.currency td:nth-child(1), tr.currency td:not(:nth-child(1)) {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
}
tr.currency > td:nth-child(4) {
  text-transform: none;
}
tr td:nth-child(1) {
  letter-spacing: -0.5px;
  word-spacing: 3px;
  padding-right: 1.5rem;
}
tr td:nth-child(1)::first-letter {
  text-transform: capitalize;
}
tr :not(td:nth-child(1)) {
  text-align: end;
  letter-spacing: 0.375px;
  width: 20%;
}
tr td:nth-child(2), tr td:nth-child(3) {
  white-space: nowrap;
  letter-spacing: -0.275px;
}

tr.revenue, tr.gross_profit, tr.operating_profit, tr.profit_before_interest_and_tax, tr.net_income_from_continuing_operations, tr.net_income {
  font-weight: var(--font-weight-bold);
}
tr.cost_of_sales, tr.operating_expenses, tr.non_operating_income_or_expenses, tr.tax_expense, tr.loss_from_discountinued_operations {
  border-bottom: 2px solid var(--sec-color_70_perc);
}
tr.net_income {
  border-bottom: 4px double var(--sec-color_70_perc);
}

td.percentage-change {
  font-weight: normal;
}
td:not(tr.currency td) {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
}

tr.currency td:nth-last-child(1), tr td.percentage-change {
  width: 10%;
  font-size: var(--font-size-small);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  :root {
    --font-size-xx_large: 2.75rem;
    --font-size-x_large: 2.5rem;
    --font-size-large: 2rem;
    --font-size-medium_large: 1.625rem;
    --font-size-medium: 1.5rem;
    --font-size-normal_medium: 1.375rem;
    --font-size-normal: 1.25rem;
    --font-size-normal_small: 1rem;
    --font-size-small: 0.75rem;
    --font-size-x_small: 0.625rem;
    --font-size-xx_small: 0.5rem;
  }
}

@media (max-width: 1150px) {
  body > main {
    padding: 0 3rem;
  }

  div#company-name {
    column-gap: 3.5rem;
  }
}

@media (max-width: 920px) {
  div#company-details div#company-auditors {
    flex-basis: 66%;
  }

  div#company-details div#company-auditors p:nth-child(2) {
    padding-right: 0;
  }

  tr td:nth-child(2) {
    padding-right: 1.25rem;
  }

  tr td:nth-child(3) {
    padding-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-xx_large: 2.5rem;
    --font-size-x_large: 2.125rem;
    --font-size-large: 1.85rem;
    --font-size-medium_large: 1.5rem;
    --font-size-medium: 1.375rem;
    --font-size-normal_medium: 1.25rem;
    --font-size-normal: 1.125rem;
    --font-size-normal_small: 0.875rem;
    --font-size-small: 0.625rem;
    --font-size-x_small: 0.5rem;
    --font-size-xx_small: 0.375rem;
  }

  body > main {
    padding: 0 2rem;
    margin-top: 1.5rem;
  }

  .tooltip {
    font-size: var(--font-size-small);
    width: 98px;
  }
}

@media (max-width: 700px) {
  img {
    width: 150px;
    height: 150px;
  }
  div#company-name {
    column-gap: 2rem;
  }
}

@media (max-width: 570px) {
  img {
    width: 100px;
    height: 100px;
  }

  div#company-name p.sector__heading-text {
    letter-spacing: 0.125px;
  }
  div#container div#company-name {
    column-gap: 1.25rem;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  div#company-name div#name-ticker-price p.name {
    font-size: var(--font-size-normal_medium);
    word-spacing: 2px;
  }

  div#company-name div#name-ticker-price p.ticker {
    font-size: var(--font-size-normal);
    margin-bottom: 0.25rem;
  }

  div#company-name p.price-change {
    font-size: var(--font-size-normal);
    margin-bottom: 0.5rem;
  }

  div#company-name div.sectors-container p {
    font-size: var(--font-size-normal_small);
    border-width: 1px;
  }

  div#company-details{
    row-gap: 0.75rem;
  }

  div#company-details > div {
    flex-basis: 50%;
  }
  
  p#overview-heading, p#income-statement-heading {
    padding: 0.25rem 0.375rem;
  }

  div#company-details div#company-auditors, div#company-details div#daily-returns-chart, div#company-details div#trade-volume-chart {
    flex-basis: 100%;
  }

  table {
    font-size: var(--font-size-normal_small);
    width: 98%;
  }

  table caption {
    margin-bottom: 0.125rem;
  }  
  tr td:nth-child(1) {
    letter-spacing: -0.175px;
    word-spacing: 0.375px;
  }
  tr.currency {
    border-bottom: 1.5px solid var(--sec-color_90_perc);
    font-size: var(--font-size-normal_small);
  }
  tr.cost_of_sales, tr.operating_expenses, tr.non_operating_income_or_expenses, tr.tax_expense, tr.loss_from_discountinued_operations {
    border-bottom: 1.275px solid var(--sec-color_70_perc);
  }
  tr.net_income {
    border-bottom: 3px double var(--sec-color_70_perc);
  }

  td:not(tr.currency td) {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
  }
  
}

@media (max-width: 520px) {
  body > main {
    padding: 0 1rem;
  }
}

@media (max-width: 479px) {
  :root {
    --font-size-xx_large: 2rem;
    --font-size-x_large: 1.75rem;
    --font-size-large: 1.5rem;
    --font-size-medium_large: 1.375rem;
    --font-size-medium: 1.25rem;
    --font-size-normal_medium: 1.125rem;
    --font-size-normal: 1rem;
    --font-size-normal_small: 0.75rem;
    --font-size-smallish: 0.6rem
    --font-size-small: 0.5rem;
    --font-size-x_small: 0.375rem;
    --font-size-xx_small: 0.125rem;
  }
}

@media (max-width: 420px) {
  tr td:nth-child(1) {
    width: 40%;
    padding-right: 0rem;
  }
  tr td:nth-child(2) {
    padding-right: 0rem;
  }
  tr td:nth-child(3) {
    padding-right: 0.375rem;
  }
}

