body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--sec-color);
}

body > main {
  padding: 0 1rem;
}

div#container {
  display: flex;
  flex-direction: column;
}

div#container > div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

div#company-name {
 align-items: center;
}
div#name-ticker-price {
 flex-direction: column; 
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

div#company-details{
  row-gap: 0.75rem;
}
div#company-details > div {
  flex-basis: 33%;
}
div#company-details > div#company-description, div#company-details > div#address {
  flex-basis: 100%;
}
div#company-details > div#company-description > p:nth-child(2)::first-letter {
  text-transform: uppercase;
}
div#company-details > div > p:nth-child(1) {
  text-transform: lowercase;
  font-weight: var(--font-weight-bold);
  color: var(--sec-color_70_perc);
}

