:root {
  --bg-color: #F2F1F0;
  --bg-color__slides: #f9f9f9de;
  --prim-color: #0F0F0F;
  --sec-color: #204134;
  --sec-color_60_perc: #20413499;
  --sec-color_70_perc: #204134a6;
  --sec-color_80_perc: #204134ce;
  --sec-color_98_perc:#204134fb;
  --sec-color_border: #204134e6;
  --ter-color: #F2F1F0;
  --alt-ter-color: #fdf9f588;
  --tooltip-bg-color: #f7f2f2f7;
  --white: #fafaf9;

  --border-radius__xx_small: 2px;
  --border-radius__x_small: 4px;
  --border-radius__small: 6px;
  --border-radius__medium: 10px;

  --font-family: "Lato", Helvetica;
  --font-size-xxxx_large: 5rem;
  --font-size-xxx_large: 3.5rem;
  --font-size-xx_large: 3rem;
  --font-size-x_large: 2.75rem;
  --font-size-large: 2.25rem;
  --font-size-medium_large: 1.75rem;
  --font-size-medium: 1.625rem;
  --font-size-normal_medium: 1.5rem;
  --font-size-normal: 1.375rem;
  --font-size-normal_small: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-x_small: 0.75rem;
  --font-size-xx_small: 0.625rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-style-italic_regular: italic;

}
